body {
  margin: 0px 15px;
}

button {
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px 50px;
}


.create-repo-container__input-name, 
.edit-repo-container__input-description, 
.edit-repo-container__input-name {
  margin: 0px 10px;
}


.repo-container {
  border: 1px solid black;
  padding: 0px 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #d3d3d3;
}

.repo-container__description--text {
  border: 1px solid black;
  padding: 20px;
  font-weight: normal;
  margin-top: 5px;
  background-color: #ffffff;
}

.repo-container__button--delete {
  font-weight: bold;
  background-color: red;
}